<ion-view view-title="chatdetail">
    <ion-content style="margin-top: 0px;">
        <div class="row" style="margin-top: 5px;margin-bottom: 0px;font-size:15px;">
            <a class="" style="font-size: 24px;    margin-left: 15px;" href="#/chat" ng-click="gochat()"><</a>
        </div>
        <div class="row" style="margin-top: 10px;">
            <label class="modal_username" style="">Daichi Miyajima</label>
        </div>
        <div class="list" style="padding-bottom:30px;">
            <div ng-repeat="message in messages | orderBy:'-time'" class="">
                <a class="item item-avatar" ngclick="goChatdetail()">
                    <img src={{message.photoURL}}>
                    <h2>{{message.displayname}}</h2>
                    <p>{{message.message}}</p>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="messageInputArea" id="chatdetail_message">
        <div class="messageInputAreaDiv">
            <textarea ng-model="messageInput" id="icon_prefix2" class="materialize-textarea roomtextarea textarea" style="height: 24.2px;"></textarea>
            <a class="waves-effect waves-light btn" id="sendbutton" ng-mousedown="sendMessage(messageInput)">Send</a>
        </div>
    </div>
</ion-view>
