<ion-view view-title="Account">
    <ion-content style="margin-top: 35px;">
        <div class="row" style="margin-left: 18px;margin-bottom: 2px">
            <table>
                <tr>
                    <td class="td_middle" style="width:20%;">
                        <img class="round_image" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/947020_1042295795843419_1720321809087675440_n.jpg?oh=fea7737d2119589a28c50e31bf49a52a&oe=58672B17"></img>
                    </td>
                    <td class="td_middle">
                        <table>
                            <tr>
                                <td class="td_middle">
                                    <label>Daichi Miyajima</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_middle image_middle">
                                    <span class = "rate_account rate_account1_6"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="list candylist candylist_icon_right">
            <a class="item item-icon-right" ng-click="logout()" href="#/landing">
              Logout
              <i class="icon ion-ios-navigate-outline"></i>
            </a>
            <a class="item item-icon-right" ng-click="review()" href="#/review">
              review
              <i class="icon ion-social-usd-outline"></i>
            </a>
        </div>
    </ion-content>
</ion-view>