<ion-view view-title="chat">
    <ion-content style="margin-top: 35px;">
        <div class="list candylist candylist_icon_left">
            <a class="item item-avatar" ngclick="gochatdetail()" href="#/chatdetail">
                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/12036706_845709408861271_5413284334830375868_n.jpg?oh=9ec58d46baac534e649f8a49f264b476&oe=587D8AC8">
                <h2>Yusuke Shimizu</h2>
                <p>I'm goot at around ASAKUSA.</p>
                <span class="alert">0</span>
            </a>
            <a class="item item-avatar" ngclick="gochatdetail()" href="#/chatdetail">
                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/947020_1042295795843419_1720321809087675440_n.jpg?oh=fea7737d2119589a28c50e31bf49a52a&oe=58672B17">
                <h2>Daichi Miyajima</h2>
                <p>I like Japan</p>
                <span class="alert">10</span>
            </a>
            <a class="item item-avatar" ngclick="gochatdetail()" href="#/chatdetail">
                <img src="img/ben.png">
                <h2>Ben Jamin</h2>
                <p>I like Japan</p>
                <span class="alert">100</span>
            </a>
            <a class="item item-avatar" ngclick="gochatdetail()" href="#/chatdetail">
                <img src="img/mike.png">
                <h2>Mike Harison</h2>
                <p>I like Japan</p>
            </a>
            <a class="item item-avatar" href="#/chatdetail">
                <img src="img/adam.jpg">
                <h2>Adam Rihen</h2>
                <p>I like Japan</p>
            </a>
            <a class="item item-avatar" href="#/chatdetail">
                <img src="img/max.png">
                <h2>Max Borsor</h2>
                <p>I like Japan</p>
            </a>
            <a class="item item-avatar" href="#/chatdetail">
                <img src="img/perry.png">
                <h2>Perry Honson</h2>
                <p>I like Japan</p>
            </a>
            <a class="item item-avatar" href="#/chatdetail">
                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/947020_1042295795843419_1720321809087675440_n.jpg?oh=fea7737d2119589a28c50e31bf49a52a&oe=58672B17">
                <h2>DaichiMiyajima</h2>
                <p>I like Japan</p>
            </a>
        </div>
    </ion-content>
</ion-view>