<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordoba-plugin-gpsfetch" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>gpsFetch</name>
    <js-module name="gpsFetch" src="www/gpsFetch.js">
        <clobbers target="cordova.plugins.gpsFetch" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="gpsFetchPlugin">
                <param name="ios-package" value="gpsFetchPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/gpsFetchPlugin.swift" />
    </platform>
</plugin>
