<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordoba-plugin-firebasenotification" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>firebaseNotification</name>
    <js-module name="firebaseNotification" src="www/firebaseNotification.js">
        <clobbers target="window.firebaseNotification" />
    </js-module>


    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="firebaseNotificationPlugin">
                <param name="ios-package" value="firebaseNotificationPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/firebaseNotificationPlugin.swift" />
    </platform>

</plugin>
